@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Regular.woff2);
}
@font-face {
    font-family: Poppins_medium;
    src: url(fonts/Poppins-Medium.woff2);
    font-weight: 500;
}
@font-face {
    font-family: Poppins_semibold;
    src: url(fonts/Poppins-SemiBold.woff2);
    font-weight: 600;
}

@font-face {
    font-family: Poppins_bold;
    src: url(fonts/Poppins-Bold.woff2);
    font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

button{
    text-decoration: none;
}

.content{
    width: 100%;
    max-width: 1200px; 
    padding-left: 10px; 
    padding-right: 10px;
    margin: 0 auto;
}

.header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.header_item{
    font-family: Poppins;
    font-size: 16px;
    color: #333333;
}

.teams{
    font-family: Poppins_semibold;
}

.header_item:not(:nth-last-child(1)){
    margin-right: 74px;
}

.header_links{
    margin-left: auto;
}

.btn_header{
    cursor: pointer;
    font-family: 500;
    font-size: 14px;
    border: none;
    color: #FFFFFF;
    background-color: #2C3878;
    padding: 14px 32px;
}

.zagolovok{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

#glav{
    font-family: Poppins_bold;
    font-size: 56px;
    margin-bottom: 32px;
}

.podglav{
    font-family: Poppins;
    font-size: 18px;
    width: 45%;
    text-align: center;
}

.img1{
    width: 100%;
    height: 513px;
    margin-bottom: 100px;
}

.prtfl{
    font-family: Poppins_medium;
    margin-right: 2%;
}

.srvc{
    font-family: Poppins_medium;
    margin-right: 2%;
}

.delitel{
    align-items: center;
    justify-content: left;
    display: flex;
    font-size: 16px;
    margin-bottom: 40px;
}

.line{
    background-color: #000;
    height: 2px;
    width: 40%;
}

.img2, .img4{
    width: 70%;
    margin-right: 11%;
}

.block{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}

.block1r{
    position: relative;
}

.block1l{
    position: relative;
    margin-right: 5%;
}


.otzyv_right{
    position: absolute;
    padding: 17px 52px 17px 20px;
    top: 3%;
    left: 65%;
    background-color: #FFFFFF;
    display: flex;
    width: 20%;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.1)
}

.otzyv_left{
    position: absolute;
    padding: 17px 52px 17px 20px;
    top: 3%;
    left: 10%;
    background-color: #FFFFFF;
    display: flex;
    width: 17%;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.1)
}


.avatar{
    width: 25%;
    margin-right: 10%;
}

.txtotzyv{
    display: flex;
    flex-direction: column;

}

.name{
    font-family: Poppins_semibold;
    font-size: 18px;
}

.dolzhnost{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    color: #9C9C9C;
}

.glavtxt{
    font-family: Poppins_semibold;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5%;
}

.podtext{
    font-family: Poppins;
    color: #9C9C9C;
    width: 85%;
    margin-bottom: 15%;
}

.btn_block{
    font-family: Poppins_medium;
    background-color: #2C3878;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    padding: 14px 32px;
}

.choose{
    font-family: Poppins_semibold;
    margin-bottom: 2%;
    font-size: 36px;
}

.choosetxt{
    font-family: Poppins;
    width: 40%;
    color: #9C9C9C;
    font-size: 18px;
    margin-bottom: 3%;
}

.plusi_block{
    display: flex;
    margin-bottom: 7%;
}

.plusi{
    border: 1px solid #9C9C9C;
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 27px;

}

.plusi:not(:nth-last-child(1)){
    margin-right: 1%;
}

.block_glav{
    font-family: Poppins_semibold;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10%;
}

.block_txt{
    font-family: Poppins;
    font-size: 18px;
    color: #9C9C9C;
    text-align: center;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 38px 120px;
    color: #FFFFFF;
    background-color: #2C3878;
    margin-bottom: 7%;
}

.glav_text{
    font-family: Poppins_semibold;
    width: 90%;
    font-size: 32px;
}

.second_text{
    font-family: Poppins;
    font-size: 18px;
    color: #D9D9D9;
    margin-bottom: 4%;
}

.contact_btn{
    color: #000;
    border: none;
    cursor: pointer;
    font-family: Poppins_medium;
    padding: 14px 32px;
}

.footer{
    margin-bottom: 10%;
    display: flex;
    align-items: flex-start;
}
.footer_text{
    font-family: Poppins_semibold;
    font-size: 36px;
    width: 90%;
}

.footer_right{
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.right_text_footer{
    font-family: Poppins;
    font-size: 18px;
    text-align: start;
}

.up_text{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.frm{
    display: flex;
    flex-direction: column;
}

.frm_glav{
    font-family: Poppins;
    font-size: 18px;
    margin-bottom: 5%;
}

.input_email{
    padding: 2%;
    border: none;
    width: 100%;
}

.input[type=text]::placeholder{
    font-family: Poppins;
    font-size: 18px;
}

.down_footer{
    margin-left: auto;
    font-family: Poppins;
    font-size: 16px;
}

.facebook, .instagram, .tiktok, .youtube{
    width: 20%;
}

.social:not(:nth-last-child(1)){
    margin-right: 80%;
}

.line_footer{
    background-color: #000;
    height: 1px;
    width: 100%;
    margin-bottom: 10%;
}

.vvod{
    display: flex;
}

.btn_footer{
    border: none;
    text-decoration: none;
    background-color: #FFFFFF;
    cursor: pointer;
}