*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.clear{
    clear: left;
}

a, a:visited, a:active{
    text-decoration: none;
    color: #fff; /* Цвет ссылок */
}

.content{
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.header{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: rgba(119, 224, 253, 0.5);
    margin-bottom: 20px
}

.zagolovok{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#glav{
    margin-bottom: 16px;
}

.podglav{
    text-align: center;
    width: 40%;
    margin-bottom: 60px;
}

.hbutton{
    padding: 16px;
}

.hbutton:not(:last-of-type){
    margin-right: 12px;
}

.html, .css, .javascript, .jquore{
    border-right: 1px solid #fff;
}

.section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#img1, #img2, #img3{
    margin-right: 16px;
    width: 30%;
    float: left;
}

.block1, .block2{
    margin-bottom: 30px;
}

.block1, .block2, .block3{
    width: 80%;
}

p{
    text-align: justify;
}