@mixin button-styles {
    background-color: #cd51ac; 
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: darken(#8f2988, 10%); 
    }
}
