@import 'variables';
@import 'mixins';

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}


.header {
    background-color: $header-bg;
    padding: 20px 0;

    &__title {
        text-align: center;
        font-size: 55px;
        color: $header-title-color;
    }

    &__nav {
        text-align: left;
        padding: 90;
        list-style: none;
        padding-left: 500px;

        &__list {
            list-style: none;
            padding: 0;
            display: inline;
            padding-left: 500px;

            &__item {
                display: inline;
                margin-right: 20px;
                padding-left: 500px;

                &__link {
                    text-decoration: none;
                    color: $link-color;

                    &:hover {
                        color: $link-hover-color;
                    }
                }
            }
        }
    }
}

.main {
    padding: 20px 0;

    .about {
        text-align: center;

        &__title {
            font-size: 28px;
            margin-bottom: 10px;
        }

        &__text {
            font-size: 16px;
            color: $text-color;
        }
    }

    .products {
        text-align: center;

        &__title {
            font-size: 28px;
            margin-bottom: 20px;
        }

        &__list {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            .product {
                border: 1px solid #ddd;
                padding: 15px;
                border-radius: 5px;
                margin-bottom: 20px;
                width: calc(33% - 40px);
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                
                &__image {
                    max-width: 100%;
                    height: auto;
                }

                &__name {
                    font-size: 18px;
                    margin-top: 10px;
                }

                &__description {
                    font-size: 14px;
                    color: $description-color;
                }

                &__price {
                    font-size: 16px;
                    color: $price-color;
                    margin-top: 5px;
                }

                &__button {
                    @include button-styles; 
                }
            }
        }
    }

    .contact {
        text-align: center;

        &__title {
            font-size: 28px;
            margin-bottom: 20px;
        }

        &__form {
            display: inline-block;
            text-align: left;

            &__label {
                display: block;
                margin-bottom: 5px;
            }

            &__input,
            &__textarea {
                width: 100%;
                padding: 10px;
                margin-bottom: 10px;
                border-radius: 5px;
                border: 1px solid #ccc;
            }

            &__textarea {
                height: 100px;
            }

            &__button {
                @include button-styles; 
            }
        }
    }
}

.footer {
    background-color: $footer-bg;
    text-align: center;
    padding: 20px 0;

    &__text {
        color: $footer-text-color;
    }
}
